* {
    padding: 0;
    margin: 0;
}
body {
    background-color: red;
}
.hero-text {
    text-align: center;
    padding: 25px;
    background-color: rgb(255, 241, 40);
}
.img-container {
    background-color: blue;
    display: flex;
    justify-content: center;
}
.rock {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}
.rock-img {
    border: 2px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    width: auto;
    height: 250px;
    background-color: rgb(255, 241, 40);
}
.paper {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}
.paper-img {
    border: 2px solid black;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    width: auto;
    height: 250px;
    background-color: rgb(255, 241, 40);
}
.scissors {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}
.scissors-img {
    padding: 15px;
    border: 2px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    width: auto;
    height: 220px;
    background-color: rgb(255, 241, 40);
}
.score-container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    display: flex;
    flex: auto;
    justify-content: space-between;
    background-color: red;
    padding: 50px;
    margin-top: -4px;
}

#userNameDiv {
    max-width: 300px;
}

#tieDiv {
    max-width: 300px;
}

#botNameDiv{
    max-width: 300px;
}

img {
    width: 10%;
    height: auto;
}

.img-container {
    background-color: blue;
}

p#winner {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    padding: 20px;
    background-color: red;
}